<div class="col-md-6">
  <div class="row room-name-row">
    <div class="col-md-8"><%= room.name %> - <%= Date.today %>  </div>
    <div class="col-md-4 col-full-schedule">
      <%= link_to "Full Schedule", room_path(room), class: 'full-schedule' %>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
  <div id="calendar_<%= room.id %>"></div>
</div>
<script>
$(document).ready(function() {

	$('#calendar_<%= room.id %>').fullCalendar({
		header: false,
		minTime: "08:00:00",
		maxTime: "22:00:00",
		slotLabelInterval: '02:00:00',
		events: [
      <%= room.events.today.each do |event| %>{
			id: <%= event.id %>,
			title: <%= event.name %>,
			start: <%= event.start_time %>,
			end: <%= event.end_time %>,
		} <% end %>],
		allDaySlot: false,
		defaultView: 'agendaDay'
	});
});
</script>
